.header-container{
    background-color: #e0ebe8;
    text-align: center;
    padding: 20px;
    font-family:  'Pattaya', sans-serif;
    letter-spacing: 5px;
    font-size: 2.1rem;
    border-bottom: 1px solid rgb(200, 200, 201);
}