.main-container {
    width: 80%;
    background-color: orangered;
    margin: 0 auto;
    button {
        // float: right;

        margin: 10px;
    }
}


i {
    color: black;
    font-size: 1.6rem;
    cursor: pointer;
}
table {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
}
 th{
    width: 33.333%;
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
 tr {
    text-align: center;
}
td {
    padding: 5px;
    
  }



  .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(107, 104, 104, 0.664);
  }

