*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #4D4D4F;
    box-sizing: border-box;
    background-color: #e0ebe8;
}

